<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plant.freecomment.FreeCommentMapper">

	<insert id="insert" parameterType="com.plant.freecomment.FreeCommentVO">
		INSERT INTO free_comment (
			content, user_no, free_no, regdate, tablename
		) VALUES (
			#{content}, #{user_no}, #{free_no},NOW(), #{tablename}
		)
	</insert>
	
	<select id="count" parameterType="com.plant.freecomment.FreeCommentVO" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM free_comment
		WHERE free_no = #{free_no} AND tablename = #{tablename}
	</select>
	
	<select id="list" parameterType="com.plant.freecomment.FreeCommentVO" resultType="com.plant.freecomment.FreeCommentVO">
		SELECT * FROM free_comment
		WHERE free_no = #{free_no} AND tablename = #{tablename}
		ORDER BY regdate DESC
		LIMIT  ${startIdx},${pageRow};
	</select>
	
	<delete id="delete" parameterType="int">
		DELETE FROM free_comment WHERE no=#{no} 
	</delete>
	
	
	
	
	
	
</mapper>